.hero{
    width: 100%;
    // background: sandybrown;
}

.hero__body{
margin-top: 100px;
display: flex;
align-items: center;
gap: 40px;
}

.hero__text{
width: 50%;
display: flex;
flex-direction: column;
}
.hero__title{
width: 455px;
font-size: 50px;
font-weight: 500;
line-height: 70px;
color: rgba(11, 19, 42, 1);

}

.hero__paragraph{
width: 470px;
font-family: Rubik;
font-size: 16px;
font-weight: 400;
line-height: 30px;
color: rgba(79, 86, 101, 1);
margin-top: 20px;
}

.hero__btn{
width: 250px;
height: 60px;
border-radius: 10px;
background: rgba(245, 56, 56, 1);
border: none;
font-family: Rubik;
font-size: 16px;
font-weight: 700;
line-height: 25px;
color: rgb(255,255,255,1);
margin-top: 67px;
transition: .5s;

    &:hover{
        cursor: pointer;
        background: green;
        
    }
}

@media (max-width:1200px) {
    .hero__title{
        width: 350px;
        font-size: 30px;
    } 
    
    .hero__paragraph{
        width: 350px;
        font-size: 14px;
    }

    .hero__btn{
    width: 200px;
    height: 40px;
    }


    .hero__image{
        width: 400px;
    }
}
@media (max-width:890px) {

    .hero__body{
        display: flex;
        flex-direction: column;
    }

    .hero__title{
        width: 350px;
        font-size: 30px;
    } 
    
    .hero__paragraph{
        width: 350px;
        font-size: 14px;
    }

    .hero__btn{
    width: 200px;
    height: 40px;
    }


    .hero__image{
        width: 400px;
    }
}